@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

nav.navbar.main-navbar {
  min-height: 100px;
  .navbar-brand img {
    width: 200px;
  };
  .navbar-nav li {
    padding: 3%;
  }
}

//
.cd-form .cd-form-list li {
  input[type="radio"], label {
    cursor: pointer;
  }
}

#comparison-chart-container {
  border: 1px solid #222;
  height: 500px;
  margin: 10px 0 25px 0;
}

.divider-img-post {
  border-top: #222 solid 1px;
  position: relative;
  margin: 20px;
}

.img-container-post {
  max-width: 350px;
  left: 175px;
  position: relative;
  img {
    width: 100%;
  }
}